/* Стиль упражнений */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  background-attachment: fixed;
  margin-left: 40px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  color: white;
}

h2 {
  text-transform: uppercase;
  font-size: 35px;
  margin: 20px;
  color: #1e90ff;
}
p {
  font-size: 20px;
  display: block;
  width: 100%;
  color: whitesmoke;
}
/* ---------------- */

/* Задание №1 */
.elem1 {
  width: 400px;
  height: 400px;
  background: #1e90ff;
  text-align: center;
  margin-bottom: 40px;
}

.elem2 {
  width: 400px;
  height: 400px;
  text-align: center;
  border: 10px solid #1e35ff; /* задаем границу */
  padding: 60px 40px; /* задаем отступы */
  box-sizing: border-box; /* убираем расширение */
}
