/* Стиль упражнений */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  background-attachment: fixed;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  font-size: 50px;

  color: #4682b4;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  width: 80%;
  color: #4682b4;
}

h3 {
  font-size: 25px;
  width: 90%;
  margin: 20px;
  color: white;
}

p {
  margin-left: 40px;

  font-size: 20px;

  color: white;
  border: 2px solid #8b4513;
}
/* ---------------- */
a {
  font-size: 25px;
  color: #f0fff0;
}

.box {
  width: 600px;
  border: 4px solid #a9a9a9;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  float: left;
  opacity: 0.5;
}

.ex1 {
  padding-left: 40px;
}

.ex2 {
  margin-right: 40px;
}
/* Задание №1 */
